.doge-bg {
  background-image: url('https://share.moltendorf.net/Pictures/Avatar/Doge/Doge-Lovers.png');
  background-repeat: no-repeat;
  height: 16rem;
  width: 16rem;
}

.flex { display: flex; }
.col { flex-direction: column; }

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.txt {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-family: 'Impact';
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}