@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	animation: colorchange 50s infinite; 
}

@keyframes colorchange
{
	0%   {background: red;}
	25%  {background: yellow;}
	50%  {background: blue;}
	75%  {background: green;}
	100% {background: red;}
}

p {
	margin: 0;
}

.title {
	color: #99d4d8;
	font-weight: bold;
}

.content {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.doge-bg {
	background-image: url('https://share.moltendorf.net/Pictures/Avatar/Doge/Doge-Lovers.png');
	background-repeat: no-repeat;
	height: 255px;
	width: 255px;
	margin: 0 auto;
}

.flex { display: flex; }
.col { flex-direction: column; }

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.txt {
	padding: 0;
	margin: 0;
	font-size: 2rem;
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 0;
}

.inputs input {
	width: 150px;
	border-radius: 5px;
	padding: 7px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.inputs input:first-child {
	margin-right: 15px;
}

.btn {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.btn button {
	padding: 7px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	background-color: #99d4d8;
	border: 0;
	cursor: pointer;
}